<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2 th:text="#{findOwners}">Find Owners</h2>

  <form th:object="${searchCriteria}" th:action="@{/owners}" method="get" class="form-horizontal" id="search-owner-form">
    <div class="form-group">
      <div class="control-group" id="criterionGroup">
        <label class="col-sm-2 control-label" th:text="#{criterion}">Search By</label>
        <div class="col-sm-10">
          <select class="form-control" th:field="*{criterion}">
            <option th:value="LAST_NAME" th:text="#{criterion.lastName}">Last Name</option>
            <option th:value="TELEPHONE" th:text="#{criterion.telephone}">Telephone</option>
            <option th:value="PET_NAME" th:text="#{criterion.petName}">Pet Name</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="control-group" id="searchTermGroup">
        <label class="col-sm-2 control-label" th:text="#{searchTerm}">Search Term</label>
        <div class="col-sm-10">
          <input class="form-control" th:field="*{searchTerm}" size="30" maxlength="80" />
          <span class="help-inline">
            <div th:if="${#fields.hasErrors('searchTerm')}">
              <p th:each="err : ${#fields.errors('searchTerm')}" th:text="${err}">Error</p>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" th:text="#{findOwner}">Find Owner</button>
      </div>
    </div>

    <a class="btn btn-primary" th:href="@{/owners/new}" th:text="#{addOwner}">Add Owner</a>

  </form>

</body>

</html>
